@charset "UTF-8";

/* include/top_menu */
#login-info-p {
	text-align: right;
}

#ftco-navbar {
	margin-top: 20px;
}

.align-center { 
	margin: 0 auto;
	text-align : center;
}

.btn.btn-primary-right {
    background: #ff5f5f;
    border: 2px solid #ff5f5f;
    color: #fff; 
    float: right;
}