@charset "UTF-8";

/* include/top_menu */
#login-info-p {
	text-align: right;
}

#ftco-navbar {
	margin-top: 20px;
}

.align-center { 
	margin: 0 auto;
	text-align : center;
}

#floatMenu {
	width:104px;height:48px; background:transparent; margin: 0pt; padding: 0pt;  position: absolute; right: 20px; top: 1100px;
}
/* #floatMenuTwo {width:60px;height:200px; background:aqua; margin: 0pt; padding: 0pt;  position: absolute; right: 0px; top: 0px;} */  /* 임시저장 */






