@charset "UTF-8";


.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff2c2c;
    border-color: #ff1f1f;
}
.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    background-image: none;
}
.btn.btn-primary:hover {
    border: 2px solid #ff5f5f;
    background: transparent;
    color: #ff5f5f;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn.btn-primary {
    background: #ff5f5f;
    border: 2px solid #ff5f5f;
    color: #fff;
}
.btn:hover, .btn:active, .btn:focus {
    outline: none;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ff3939;
    border-color: #ff2c2c;
}
.btn:hover, .btn:focus {
    text-decoration: none;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

.btn {
    cursor: pointer;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
        width: 130px;
    height: 50px;
    padding: 0.7rem 1rem !important;
    text-align: center;
}